/* 
  Header 
*/
header{
  margin-bottom: 25vh;
}

/* Menu */
.menu-fixed{
  width: 100%;
  min-height: 8vh;
  /* position: fixed; */
  z-index: 999;
  background-color: white;
  left: 0;
  top: 0;
}

.menu-left,.menu-right{
  width: 35%;
  height: 4vh;
  margin: 2vh 0vh;
}

.menu-space{
  width: 30%;
  min-height: 8vh;
}

.menu-fixed nav{
  margin-top: 1vh;
  line-height: 2vh;
}

.menu-fixed ul li{
  font-size: 0.9vw;
  padding-left: 5vh;
}

.menu-fixed ul li a{
  color: black;
  padding-bottom: 2.9vh;
}

.menu-fixed ul li a:hover{
  border-bottom: 2px solid black;
}

/* Menu - Left*/
.menu-left img{
  height: 2.5vh;
  margin-top: 0.7vh;
  margin-left: 3vh;
}

/* Menu - Right*/
.m-button{
  margin-left: 5vh;
}

.menu-right nav{
  margin-left: 7vh;
}

/* /Menu */


/* Jumbotron */
.jumbotron{
  width: 100%;
  background-color: #B4D0E7;
  padding-top: 8vh;
}

.j-container{
  width: 80%;
  height: 80vh;
  margin: 0 auto;
}

/* Jumbotron Title */
.j-title{
  width: 100%;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.j-title h1{
  font-size: 4.9vw;
}

/* Jumbotron Text */
.j-text{
  width: 30%;
}

.j-t{
  font-size: 1vw;
  margin-bottom: 4vh;
}

.j-button{
  font-size: .9vw;
}

.j-t2{
  font-size: 0.8vw;
  margin-top: 2vh;
}

.fa-arrow-down{
  font-size: 2vw;
  margin-top: 3vh;
}

/* Jumbotron Image */
.j-image{
  width: 60%;
  margin-left: 10%;
}

.j-image img{
  height: 55vh;
}
/* /Jumbotron */

/* 
  /Header 
*/


/* 
  Main 
*/

/* Main Container 1 */
.m-container-1{
  min-height: 300vh;
}

/* Drop Box Plans */

/* Drop Box Plans Title & Button */
.m-c1-plans-title{
  min-height: 15vh;
}

.m-c1-plans-title h2{
  font-size: 2.5vw;
  margin-bottom: 5vh;
}

.m-c1-plans-title-button-text{
  margin-right: 2vh;
  font-size: .9vw;
}

/* Drop Box Plans Button */
.m-c1-plans-title label{
  font-size: .9vw;
  margin-right: 3vh;
}

.m-c1-button-costumize-text{
  margin-left: -1vh;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #0061FF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

/* Plans Box */
.m-c1-plans-box-container{
  height: 100vh;
}

.m-c1-plans-box{
  height: 100%;
  width: 30%;
}

.m-c1-plans-box1, .m-c1-plans-box2, .m-c1-plans-box3{
  border: 2px solid #D0D0D3;
}

.m-c1-plans-box1{
  height: 100%;
  margin-right: 5%;
}

.m-c1-plans-box3{
  height: 100%;
  margin-left: 5%;
}

.m-c1-plans-box-container hr{
  border: 1px solid #D0D0D3;
  width: 20%;
  margin-top: 3vh;
  margin-bottom: 4vh;
}

/* Plans Box Type */
.m-c1-plans-box-type{
  height: 3vh;
  border-bottom: 2px solid #D0D0D3;
}

.m-c1-plans-box-type-icon-text{
  height: 2vh;
  width: 25%;
  margin: 0 auto;
  margin-top: 1vh;
}

.m-c1-plans-box-type-icon-text i{
  font-size: 1vw;
}

.m-c1-plans-box-type-icon-text p{
  margin-left: 1vh;
  font-size: 0.9vw;
}

/* Plans Box Content */
.m-c1-plans-box-content{
  margin: 0 auto;
}

/* Plans Offers */
.m-c1-plans-box-content-offers{
  margin-top: 3vh;
}

.m-c1-plans-box-content-offers h4{
  font-size: 1.5vw;
  margin-bottom: 1.5vh;
}

.m-c1-plans-box-content-offers strong{
  font-size: .9vw;
}

.m-c1-plans-box-content-offers p{
  color: #929EA7;
  margin-top: 1vh;
}

/* Plans Offerts Details */
.m-c1-plans-box-content-offers-details{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.m-c1-plans-box-content-offers-details p{
  margin-left: .5vh;
  margin-bottom: 1.5vh;
}

.m-c1-plans-box-content-offers-details i{
  font-size: .7vw;
  margin-top: .2vh;
}

/* Plans Offerts Free Trial */
.m-c1-plans-box-button{
  margin-bottom: 2vh;
}

.m-c1-plans-box-button-text-trial{
  color: #0061FF;
  text-decoration: underline;
}

.m-c1-plans-box-button-text-trial:hover{
  color: red;
}

/* Plans More Informations */
.m-c1-plans-box-moreinfo h5{
  font-size: .9vw;
  margin-bottom: 2vh;
}

.m-c1-plans-box-moreinfo span i{
  color: #0061FF;
  margin-right: 0.6vh;
}

.m-c1-plans-box-moreinfo li{
  margin-bottom: 2vh;
}

/* Contact */
.m-c1-contact{
  height: 22vh;
  margin-top: 5vh;
  border: 2px solid #D0D0D3;
}

/* Contact Type */
.m-c1-contact-type{
  height: 3vh;
  border-bottom: 2px solid #D0D0D3;
  margin-bottom: 3vh;
}

.m-c1-contact-type-icon-text{
  width: 8%;
  margin: 0 auto;
  margin-top: 1vh;
}

.m-c1-contact-type i{
  font-size: 1vw;
}

.m-c1-contact-type p{
  margin-left: 1vh;
  font-size: 0.9vw;
}

/* Contact Title & Button */
.m-c1-contact-title-button{
  margin-top: 10vh;
  position: relative;
}

.m-c1-contact-title-button h4{
  font-size: 1.5vw;
  margin-bottom: 2vh;
}

.m-c1-contact-title-button a{
  right: 0;
  position: absolute;
}

/* Contact Text */
.m-c1-contact-text h5{
  font-size: .9vw;
  margin-bottom: 2vh;
}

/* Partner */
.m-c1-partner{
  height: 55vh;
  margin-top: 10vh;
}

/* Parter IMG */
.m-c1-partner-img{
  height: 100%;
  width: 50%;
}

.m-c1-partner-img img{
  height: 100%;
}

/* Parter Text */
.m-c1-partner-text{
  height: 100%;
  width: 40%;
  margin-left: 10%;
}

.m-c1-partner-text h4{
  font-size: 1.5vw;
  margin-bottom: 2vh;
  margin-top: 6vh;
}

.m-c1-partner-text p{
  margin-top: 2vh;
  font-size: .9vw;
  margin-bottom: 3vh;
}

/* Drop Box Operations */

/* Operations Title */
.m-c1-operations-title{
  height: 10vh;
  margin-top: 10vh;
}

.m-c1-operations-title h2{
  font-size: 2.5vw;
}

/* Operations Box */
.m-c1-operations-box-container{
  height: 120vh;
}

.m-c1-operations-box{
  width: 30%;
  height: 55vh;
  margin-bottom: 5vh;
}

.m-c1-ope-box-1{
  margin-right: 5%;
}

.m-c1-ope-box-3{
  margin-left: 5%;
}

/* Operations Box IMG */
.m-c1-operations-box-img{
  height: 50%;
}

.m-c1-operations-box-img img{
  height: 100%;
  width: 100%;
}

/* Operations Box Text */
.m-c1-operations-box h4{
  font-size: 1.5vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.m-c1-operations-box p{
  font-size: .9vw;
}

.m-c1-operations-box p span{
  text-decoration: underline;
  cursor: pointer;
}

.m-c1-operations-box p span:hover{
  text-decoration: underline;
  color: red;
}

/* Main Container 2 */
.m-container-2{
  min-height: 150vh;
  background-color: darkred;
}

/* Title & Link */
.m-c2-title{
  height: 15vh;
  background-color: blue;
}

/* Sponsor & Prova Gratuita */
.m-c2-sponsor{
  height: 90vh;
  background-color: purple;
}

/* Sponsor */
.m-c2-sponsor-box-container{
  height: 50vh;
  background-color: goldenrod;
}

/* Sponsor Box */
.m-c2-sponsor-box{
  height: 100%;
  width: 26%;
  background-color: cornsilk;
}

.m-c2-sponsor-singol-box{
  width: 50%;
  height: 50%;
}

.m-c2-sponsor-box1{
  background-color: #A2D39B;
}

.m-c2-sponsor-box2{
  background-color: #61082B;
}

.m-c2-sponsor-box3{
  background-color: #0093CE;
}

.m-c2-sponsor-box4{
  background-color: #FF1C1C;
}

.m-c2-sponsor-box5{
  background-color: #D5001F;
}

.m-c2-sponsor-box6{
  background-color: #B4D0E7;
}

.m-c2-sponsor-box7{
  background-color: #0D2481;
}

.m-c2-sponsor-box8{
  background-color: #FFD830;
}

/* Sponsor Text */
.m-c2-sponsor-text{
  height: 100%;
  width: 48%;
  background-color: cornflowerblue;
}

/* Prova Gratuita */
.m-c2-prova{
  height: 40vh;
  background-color: yellow;
}

.m-c2-prova-text{
  height: 100%;
  width: 65%;
  background-color: darkturquoise;
}

.m-c2-prova-button{
  height: 100%;
  width: 35%;
  background-color: green;
}

/* Faq */
.m-c2-faq{
  height: 75vh;
  background-color: lightblue;
}

/* Faq Title */
.m-c2-faq-title{
  background-color: antiquewhite;
  width: 100%;
  height: 15vh;
}

/* Faq Box */
.m-c2-faq-box{
  background-color: aquamarine;
  width: 100%;
  height: 60vh;
}

.m-c2-faq-box-questions{
  background-color: darksalmon;
  width: 100%;
  height: 15vh;
}

/* 
  /Main 
*/


/* 
  Footer
*/

footer{
  width: 100%;
  height: 55vh;
  background-color: black;
}

.final-info{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* Footer Infos */
.f-infos{
  width: 100%;
  height: 25vh;
  margin-top: 10vh;
}

.f-infos > nav{
  margin-right: 15vh;
  font-size: .85vw;
  color: white;
}

.infos-title{
  font-size: 1.2vw;
  margin-bottom: 2vh;
}

.f-infos ul li{
  margin-bottom: 1vh;
}

.f-infos ul li a{
  color: white;
}

.f-infos nav li a:hover{
  color: red;
  text-decoration: underline;
}
/* Footer Language */
.f-language{
  width: 10%;
  height: 10vh;
  margin-top: 5vh;
}

.f-language hr{
  border: 1px solid darkgray;
}

.language{
  color: darkgray;
  margin-top: 4vh;
}

.language .fa-caret-up{
  font-size: 0.8vw;
  margin-left: 0.4vh;
}

.language .fa-earth-americas{
  margin-right: 0.4vh;
}