/* Float Utils */
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}


/* Button Utils */
.button{
  padding: 1vh 1.5vh; /* Button Piccolo */
}

.button-2{
  padding: 1vh 5.1vh; /* Button Grande */
}

.button-3{
  padding: 1vh 6vh; /* Button Più Grande */
}

.b-blue{ /* Con Border */
  background-color: #0061FF;
  color: white;
  border: 1px solid white;
}

.b-blue:hover{ /* Con Border */
  background-color: white;
  color: #0061FF;
  border: 1px solid #0061FF;
}

.b-white{ /* Con Border */
  background-color: white;
  color: black;
  border: 1px solid black;
}
 
.b-white:hover{ /* Con Border */
  background-color: black;
  color: white;
  border: 1px solid white;
}

.b-blue2{ /* Senza Border */
  background-color: #0061FF;
  color: white;
}

.b-blue2:hover{ /* Senza Border */
  background-color: white;
  color: #0061FF;
}

.b-white2{ /* Senza Border */
  background-color: white;
  color: black;
}
 
.b-white2:hover{ /* Senza Border */
  background-color: black;
  color: white;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/* Dimension Center */
.center60{
  width: 60%;
  margin: 0 auto;
}

.center80{
  width: 80%;
  margin: 0 auto;
}

.center92{
  width: 92%;
  margin: 0 auto;
}

.center94{
  width: 94%;
  margin: 0 auto;
}

/* Font Size */
.m-font-size{
  font-size: 0.79vw;
}

.m-font-size2{
  font-size: .9vw;
}